# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environments
# =========================
env-roblox/
env/
venv/
ENV/

# =========================
# Django
# =========================
media/
staticfiles/
logs/
*.log

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db
